.title {
    color: red;
    text-align: center;
}
:root{
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.jpgprincipal {
    height: 30em;
    width: auto;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow:hidden ;
    margin: auto;
    padding: 60px 0;
}

header{
    height:100vh ;
    background-image: linear-gradient(120deg, rgba(166, 192, 254, 0.404) 0%, rgba(246, 128, 132, 0.404) 100%),url(../imagenes/imagen\ principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blanchedalmond;
    text-align: center;
    
}

.menuNavegacion{
    position: fixed;
    top: 20;
    right: 0;
    width: 30vw;
    word-spacing: 30pt;
    color: black;
    text-decoration: none; 
    font-size: 18px;  
}

.title2{
    font-size: 40px;
    margin-bottom: 15px;
}

.pSign{
    font-weight: 60px;
    font-size: 25px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #9f8ad9;
    margin-bottom: 40px;
    font-size: 40px;
}

.gallery{
    background: #f2f2f2;
}

.contGallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagGaleria{
    width: 30%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagGaleria2{
    width: 100%;

}

.page3{
    height:100vh ;
    background-image: linear-gradient(120deg, rgba(166, 192, 254, 0.404) 0%, rgba(246, 128, 132, 0.404) 100%),url(../imagenes/page3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: blanchedalmond;   
}
.footer{
    background: #9f8ad9;
    padding-bottom: 0.1px;
}
.contactUs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    background: #9f8ad9;
    padding-bottom: 0.1px;
    flex-wrap: wrap;
}
 .botonPaseador{
    margin-top: 10px;
 }
